body {
  margin: 0px;
  font-family: Helvetica Neue, Helvetica, arial;
  font-size: 62.5%;
  color: #444
}

a { 
  outline: none;
  color: #3e6498;
  text-decoration: none 
}
input, textarea { outline: none }

#sign-in {
  width: 20em;
  overflow: hidden;
  padding: 2em;
  margin: 20em auto 10em auto
}

hr {
  border: 0;
  height: 1px;
  background-color: #eee;
  display: block;
  margin-bottom : 1.5em;
}

.app-title {
  color: #d7394c;
  margin: 0 0 0.8em 0
}
.app-title a {
  color: #d7394c;
}

.form-title {
  margin: 0 0 0.5em 0
}

#container {
  min-width: 1100px;
}

label {
  display: block;
  font-size: 1.2em;
  color: #777;
  margin-top: 0.5em
}

.text-field {
  border: solid 1px #ddd;
  font-size: 1.4em;
  font-family: Helvetica Neue, Helvetica, arial;
  padding: 0.5em 0.3em;
  color: #333;
  width: 94%;
  margin-bottom: 0.5em
}

.button {
  cursor: pointer;
  font-family: Helvetica Neue, Helvetica, arial;
  border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-right: 0;
  border-left: 0;
  border-bottom: solid 1px #eee;
  margin-left: 0;
  font-weight: bold;
  padding: 0.5em 1em;
  font-size: 1.3em;
  margin-bottom: 1.5em;
}

.sign-out-button {
  background-color: #d4e6ff;
  color: #3e6498;
  border: solid 1px #b5cdec;
  margin: 1em 1em 0 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
}

.submit-button {
  background-color: #d4e6ff;
  color: #3e6498;
  border: solid 1px #b5cdec;
}
.new-element-button {
  background-color: #d4e6ff;
  margin-left: 3em;
  color: #3e6498;
  border: solid 1px #b5cdec;
}

.form-option {
  font-size: 1.2em;
  float: right;
}

.validation-errors {
  font-size: 1.3em;
  margin-bottom: 1em
}
.validation-errors p {
  margin: 0;
}
.guide-container {
  border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  display: block;
  width: 10em;
  text-align: center;
  height: 10em;
  padding: 5em 0.5em 0.5em 0.5em;
  margin: 1em 0 1em 1em;
  float: left;
  background-color: #4996ff;
  color: #fff;
  font-size: 1.6em;
  background-color: #5494fa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(84, 148, 250)), to(rgb(71, 129, 218)));
  background-image: -webkit-linear-gradient(top, rgb(84, 148, 250), rgb(71, 129, 218));
  background-image: -moz-linear-gradient(top, rgb(84, 148, 250), rgb(71, 129, 218));
  background-image: -o-linear-gradient(top, rgb(84, 148, 250), rgb(71, 129, 218));
  background-image: -ms-linear-gradient(top, rgb(84, 148, 250), rgb(71, 129, 218));
  background-image: linear-gradient(top, rgb(84, 148, 250), rgb(71, 129, 218));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#5494fa', EndColorStr='#4781da');
  border: solid 1px #fff;
}
.new-guide {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(240, 240, 240)));
  background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(240, 240, 240));
  background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(240, 240, 240));
  background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(240, 240, 240));
  background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(240, 240, 240));
  background-image: linear-gradient(top, rgb(255, 255, 255), rgb(240, 240, 240));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#f0f0f0');
  border: dashed 1px #ccc;
  color: #3e6498;
}
.new-guide strong {
  display : block;
  text-align: center;
  font-size: 4em;
  line-height: 1em;
  margin-top: -0.6em;
}

#guides-container {
  margin-top: 5.6em;
}

.guide-title {
display: block;
margin: 0;
background-color: #eee;
height: 2.8em;
line-height: 2.8em;
padding-left: 1em;
border-bottom: solid 1px #ddd;
position: fixed;
width: 100%;
z-index: 10;
top: 0;
}

#guide-options {
 width: 100em;
 text-align: right;
 float: right;
 position : fixed;
 right: 10em;
 top: 2em;
  z-index: 20;
}

.confirm-delete-guide {
  color: #ff4949;
}

#global-styles-container {
  width: 25%;
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  border-right: solid 1px #ddd;
  padding: 0 1.2em;
}
#global-styles-container h2 {
  margin: 4.5em 0 0.7em 0em;
}

#element-list-container h2 {
  padding: 0em 0 0.6em 1em;
  border-bottom: solid 1px #ddd;
  margin-left: 1.6em;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 2em;
  top: 3em;
  line-height: 2.6em;
  display: block;
}

#element-list-container {
  display: block;
  margin-left: 25%;
  padding-top: 10em;
}

textarea {
  border: solid 1px #ddd;
  font-family: Monaco, Courier New;
  padding: 1.1em 1.3em;
}

.global-styles-field {
  display: block;
}

.instructions {
  font-size: 1.2em;
  margin: 0 0 0.6em 0;
}

#element-list {
  display: block;
  list-style-type: none;
  margin: 0 0 2.2em 2.4em;
  padding: 0;
}

.element-container {
  display: block;
  padding: 1em 1.2em;
  border-bottom: solid 1px #ddd;
  overflow: hidden;
}

.title-container {
  float: left;
  width: 20%;
}
.markup-container, .css-container {
  float: left;
  width: 25%;
  height: 15em;
}
.output-container {
  float: left;
  height: 15em;
  width: 30%;
}
.css-container textarea, .markup-container textarea {
  margin-top: 0.4em;
  height: 8.8em;
  margin-left: 1em;
}

.element-container label {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-left: 1em;
  font-size: 1.1em;
}

iframe {
  border: dashed 1px #ddd;
  margin-left: 1em;
  margin-top: 0.4em;
  height: 12em;
}
.title-container .title {
  margin-left: 1em;
  margin-top: 0.4em;
  border: 0;
  font-weight: bold;
  font-family: Helvetica Neue, Helvetica, arial;
  font-size: 1.2em;
  padding: 0.4em 0.6em;
  border: solid 1px #ddd;
  margin-bottom: 1em;
}
.delete-element {
  font-size: 1.2em;
  margin-left: 1em;
}
.confirm-delete-element {
  color: #ff4949;
}
